# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/dataSources.xml
# Sensitive or high-churn files (copied from https://github.com/github/gitignore/blob/e5323759e387ba347a9d50f8b0ddd16502eb71d4/Global/JetBrains.gitignore)
#/dataSources/
/dataSources.ids
#/dataSources.local.xml
/sqlDataSources.xml
/dynamic.xml
/uiDesigner.xml
/dbnavigator.xml
